@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  margin: auto;
  /* padding: 0 1.75rem; */
}
table.content-table {
  background-image: url("./images/bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-family: Inter;
  font-size: 4.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}
h1 span {
  font-family: Inter;
  font-size: 4.75rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}
h2 {
  font-family: "Plus Jakarta Sans";
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  color: #fff;
  max-width: 32rem;
}
h3 {
  font-family: "Plus Jakarta Sans";
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  color: #fff;
  max-width: 32rem;
}
h4 {
  color: #0c0055;
  font-family: "Plus Jakarta Sans";
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; 
  letter-spacing: 0.01625rem;
}
p {
  font-family: "Plus Jakarta Sans";
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 200;
  line-height: 180%;
  color: #fff;
}
a {
  font-family: "Plus Jakarta Sans";
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  color: #fff;
  letter-spacing: 0.01625rem;
  text-decoration-line: underline;
}

.content-group,
.content-gap-a,
.content-gap-c {
  padding: 0 1.75rem;
}
.wrapper {
  padding-left: 1.75rem;
}
.wrapper img:first-child {
  max-width: 474px;
}
